.container{
    background-color: yellow;
}
.box{
    background-color: green;
    width: 250px;
    height: 250px;
    position: relative;
    animation-name: nikku1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-direction: reverse;
}
@keyframes nikku{
    from{
        width: 200px;
    }
    to{
        width: 1200px;
    }
    
}
@keyframes nikku1{
    0%{
        top: 0px;
        left: 0px;

    }
    25%{
        top: 250px;
        left: 0;
    }
    75%{
        top: 250px;
        left: 250px;

    }
    100%{
        top: 250px;
        left: 0;
    }
}