*{
    margin: 0;
    padding: 0;
}
.container{
    height: 80vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{ 
display: flex;
justify-content: center;
align-items: center;
background-color: brown;
border: 2ps solid black;
border-radius: 8px;
height: 200px;
width: 200px;
transition: all 1s ease-in-out;
}
.box:hover{
 /* transform: rotate(360deg); */
 /* transform: skew(40deg); */
 transform: translate(200px, 400px) ;

}
